	<hr>
	<h3><%= pluralize(@pledges.size, 'Pledge') %>:
		<span><%= number_to_currency(@project.total_pledges)%></span>
	</h3>
	<% @pledges.each do |p| %>
	<article class="pledge">
		<div><%= link_to p.user.name, p.user %> made a pledge of 
			<%= number_to_currency(p.amount) %></div>
		<div style="padding-left:15px" id="pledge-<%= p.id %>"><i>"<%= p.comment %>"</i> - <%= p.created_at %></div>
	</article>
	<% end %>
	<hr>
	<%= render 'pledges/form' %>