	<hr>
	<h3><%= pluralize(@pledges.size, 'Backer') %>:
		<span><%= number_to_currency(@project.total_pledges)%></span>
	</h3>
	<% @pledges.each do |p| %>
	<div class="media">
		<%= gravatar_for(p.user, 50, 'pull-left') %>
		<div class="media-body">
			<h4 class="media-heading"><%= link_to p.user.name, p.user %></h4>
			Pledged <%= number_to_currency(p.amount) %> : 
			<i><%= p.comment %></i> - <%= p.created_at %>
		</div>
	</div>
	<% end %>
	<hr>