<h1>Admin Dashboard</h1>

<div><h3>Projects</h3>
	<ul>
		<li><%= link_to 'All Projects', admin_projects_path %></li>
	</ul>
</div>

<div><h3>Pledges</h3>
	<ul>
		<li><%= link_to 'All Pledges', admin_pledges_path %></li>
	</ul>
</div>

<div><h3>Categories</h3>
	<ul>
		<li><%= link_to 'All Categories', admin_categories_path %></li>
		<li><%= link_to "Add Categories", new_admin_category_path %></li>
	</ul>
</div>

<div><h3>Users</h3>
	<ul>
		<li><%= link_to 'Users', admin_users_path %></li>
	</ul>
</div>
