<h3>Admin: FAQ</h3>
<hr>

<p>
	<span><%= link_to 'Back', admin_path %></span> | 
	<span><%= link_to 'Add New FAQ', new_help_faq_path %></span>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Description</th>
			<th>Admin Action</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<% @faqs.each do |faq| %>
			<td><%= faq.id %></td>
			<td><%= faq.title %></td>
			<td><%= strip_tags(faq.description) %></td>
			<td><%= link_to 'Edit', edit_help_faq_path(faq) %> | <%= link_to 'Delete', help_faq_path(faq), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
			<% end %>
	</tbody>
</table>