<% content_for(:title, @user.name) %>

<div class="header">
	<h1><%= @user.name %></h1>
</div>
	
	<div>
		<p><%= @user.profile %></p>
		<p><i>Member since: <%= @user.created_at.strftime('%B %Y') %></i></p>
	</div>

	<hr>
	<h3> CREATED <%= @projects.size %>
	<% if @projects.any? %>
		<% @projects.each do |project| %>
		<div>
			<%= link_to project.name, project %>
		</div>
		<% end %>
	<% end %>

	<hr>

	<h3>FAVORITES <%= @favorite_projects.size %> </h3>
	<% if @favorite_projects.any?  %>
		<% @favorite_projects.each do |project| %>
			<div>
				<%= link_to project.name, project %>
			</div>
		<% end %>
	<% end %>

	<hr>

	<h3>BACKED <%= @pledges.size %></h3>
	<% if @pledges.any? %>
		<% @pledges.each do |p| %>
			<div><%= link_to p.comment, p.project, id: "pledge-#{p.id}" %>, created <%= time_ago_in_words(p.created_at) %> ago</div>
		<% end %>	
	<% end %>

	<hr>

<% if current_user?(@user) %>
	<footer>
		<nav>
			<%= link_to "Edit Account", edit_user_path(@user), class: 'btn btn-primary' %>
			<%= link_to 'Delete Account', @user, 
                method: :delete, 
                data: { confirm: 'Are you sure you want to permanently delete your account?' },
                class: 'button' %>
		</nav>
	</footer>
<% end %>

</article>