<article id="user">
	<header>
		<h2><%= @user.name %></h2>
		<h4><%= @user.email %></h4>
	</header>
	
	<div>
		<p>Member since: <%= @user.created_at.strftime('%B %Y') %></p>
	</div>

	<% if @favorite_projects.any?  %>
	<div> <%= @user.name %>'s favorite projects: <%= @favorite_projects.size %>
		<% @favorite_projects.each do |project| %>
			<div>
				<%= link_to project.name, project %>
			</div>
		<% end %>
	</div>
	<% end %>

	<div><%= @user.name %>'s pledges: <%= @pledges.size %></div>

	<% @pledges.each do |p| %>
		<div><%= link_to p.comment, p.project, id: "pledge-#{p.id}" %>, created <%= time_ago_in_words(p.created_at) %> ago</div>
	<% end %>


<% if current_user?(@user) %>
	<footer>
		<nav>
			<%= link_to "Edit Account", edit_user_path(@user), class: 'btn btn-primary' %>
			<%= link_to 'Delete Account', @user, 
                method: :delete, 
                data: { confirm: 'Are you sure you want to permanently delete your account?' },
                class: 'button' %>
		</nav>
	</footer>
<% end %>

</article>