<% content_for(:title, @project.name) %>
<div>
	<ul class="pager">
		<li class="previous"><%= link_to raw("&larr; Back"), :back %></li>
		
		<% if current_user_admin? %>
			<li class="previous"><%= link_to "Edit", edit_project_path(@project) %></li>
			<li class="previous"><%= link_to "Delete", project_path(@project),
														method: :delete,
														data: { confirm: "Are you sure?" } %></li>
		<% end %>
</div>

<div class="header">
	<h1><%= @project.name %></h1>
	<h4>by <%= @user.name %></h4>
</div>

<div class="container-border'">
	<div class="row">
		<div class="col-md-7">
			<div class="main-image">
				<%= image_for(@project) %>
			</div>
			<hr>
		<div class="row">
			<%= @project.description.html_safe %>
		</div>
		</div> <!-- end col-md-8 -->
		<div class="col-md-5">
			<div class="row">
				<strong>
					<h1><%= format_successful(@project) %></h1>
				</strong>
			</div>
			<hr>
			<div class="row">
				<strong>
					<h1><%= number_to_currency(@project.target_pledge_amount) %>
					</h1>
					Total
				</strong>
			</div>
		<hr>
			<div class="row">
				<strong>
					<h1>
						<%= format_pledging_ends_on(@project) %>
					</h1>
				</strong>
			</div>
		<hr>
		<div class="row">
				<strong>
					<h3>Website</h3>
						<%= link_to "#{@project.website}", @project.website, target: '_blank' %>
				</strong>
			</div>
			<hr>
			<div class="row">
				<strong><h3>Category</h3></strong>
				<% @categories.each do |category| %>
					<h4><%= link_to category.name, category_path(category) %></h4>
				<% end %>
			</div>
			<hr>
			<div class="row">
				<strong><h3>Creator</h3></strong>
				<h4><%= link_to @user.name, user_path(@user) %></h4>
				<p><%= truncate(@user.profile, length: 160, separator: ' ') { link_to "Continue Reading..", @user} %>
			</div>
			<hr>
			<div class="row">
				<strong>
					<h3><%= pluralize(@project.fans.size, 'fan') %></h3>
						<% if @project.fans.any? %>
							<% @project.fans.each do |fan| %>
								<%= link_to fan.name, fan %>
							<% end %>
						<% end %>
				</strong>	
			</div>

			<div class="row">
				<strong>
					<% if current_user %>
						<% if @has_favorited %>
							<%= button_to "Remove from Favorites", project_favorite_path(@project, @has_favorited), method: :delete, class: 'btn btn-default' %>
						<% else %>
							<%= button_to "Add to Favorites", project_favorites_path(@project), class: 'btn btn-primary' %>
						<% end %>
					<% end %>
			</div>

			<div class="row">
				<% if current_user %>
					<% if @pledges.any? %>
						<%= render 'pledges/index_embedded' %>
					<% else %>
					 <%= "There're no pledges yet." %>
					 <%= render 'pledges/form' %>
					<% end %>
				<% else %>
				 <div>You need to be signed in to view pledges. <%= link_to 'Sign in here', signin_path %></div>
				<% end %>
			</div>
		</div>
	
</div>
</div>



