<h3>Admin: Pledges</h3>
<hr>

<p>
	<span><%= link_to 'Back', admin_path %></span> | 
	<span><%= link_to 'Add New Pledge', '' %></span>
</p>

<table class="table table-striped">

	<thead>
		<tr>
			<th>#</th>
			<th>Project</th>
			<th>User</th>
			<th>Amount</th>
			<th>Created</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<% @pledges.each do |pledge| %>
			<td><%= pledge.id %></td>
			<td><%= link_to pledge.project.name, project_path(pledge.project) %></td>
			<td><%= link_to pledge.user.name, user_path(pledge.user) %></td>
			<td><%= pledge.amount %></td>
			<td><%= pledge.created_at %></td>
			<td><%= link_to "Edit", '' %> | <%= link_to "Delete", admin_pledge_path(pledge), method: :delete, data: { confirm: "Are you sure?" } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
