<h1>Category Index</h1>

<%= link_to 'Add New Category', new_category_path, class: 'btn btn-primary' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Project Count</th>
			<th>Action</th>
		</tr>
	</thead>
<% @categories.each do |category| %>
	<tbody>
		<tr>
			<td><%= category.id %></td>
			<td><%= category.name %></td>
			<td><%= category.projects.size %></td>
			<td><%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Delete', category_path(category), 	method: :delete, 
						data: { confirm: "Are you sure?" } %></td>
		</tr>
	</tbody>
<% end %>
</table>